<nav class="nav-container col-2">
  <a href="/"><i class="fab logo fa-twitter"></i></a><br />
  <a href="/"><i class="fas fa-home"></i>Home</a>
  <a href="/messages"><i class="far fa-envelope"></i>Messages</a>
  <a href="/profile"><i class="far fa-user"></i>Profile</a>
  <a href="/logout"><i class="fas fa-sign-out-alt"></i>Log Out</a>
</nav>
